<rewriter>
  <rewrite url="^~/(.+?)?yaf-pageid([0-9]+)-mid([0-9]+)-login?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=login&amp;$5" processing="stop" />
	<rewrite url="^~/(.+?)?yaf-pageid([0-9]+)-mid([0-9]+)-info?\.aspx\?i=([0-9]+?)&amp;url\=(.+)$" to="~/$1Default.aspx?g=info&amp;pageid=$2&amp;mid=$3&amp;i=$4&amp;url=$5" processing="stop" />
  <rewrite url="^~/(.+?)?yaf-pageid([0-9]+)-mid([0-9]+)-info?\.aspx\?i=([0-9]+?)" to="~/$1Default.aspx?g=info&amp;pageid=$2&amp;mid=$3&amp;i=$4" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-topics([0-9]+)p([0-9]+)(-([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=topics&amp;pageid=$2&amp;mid=$3&amp;f=$4&amp;p=$5&amp;$7" processing="stop" />
	<rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-topics([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=topics&amp;pageid=$2&amp;mid=$3&amp;f=$4&amp;$7" processing="stop" />
	<rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-forum([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=forum&amp;pageid=$2&amp;mid=$3&amp;c=$4&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-forum\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=forum&amp;pageid=$2&amp;mid=$3" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-postst([0-9]+)find([-a-z]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;pageid=$2&amp;mid=$3&amp;t=$4&amp;find=$5&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-postst([0-9]+)p([0-9]+)(-([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;pageid=$2&amp;mid=$3&amp;t=$4&amp;p=$5&amp;$7" processing="stop" />
	<rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-postst([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;pageid=$2&amp;mid=$3&amp;t=$4&amp;$5" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-postsm([0-9]+)find([-a-z]+)(-([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;pageid=$2&amp;mid=$3&amp;m=$4&amp;find=$5&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-postsm([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=posts&amp;pageid=$2&amp;mid=$3&amp;m=$4&amp;$7" processing="stop" />
	<rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-profile([0-9]+)(_([-a-z0-9]+))?\.aspx(\?(.+))?$" to="~/$1Default.aspx?g=profile&amp;pageid=$2&amp;mid=$3&amp;u=$4&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-rsstopic([0-9]+)ft([0-9]+)t([0-9]+)(_([-a-z0-9]+))?\.xml(\?(.+))?$" to="~/$1Default.aspx?g=rsstopic&amp;pageid=$2&amp;mid=$3&amp;pg=$4&amp;ft=$5&amp;t=$4&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-rsstopic([0-9]+)ft([0-9]+)f([0-9]+)(_([-a-z0-9]+))?\.xml(\?(.+))?$" to="~/$1Default.aspx?g=rsstopic&amp;pageid=$2&amp;mid=$3&amp;pg=$4&amp;ft=$5&amp;f=$4&amp;$7" processing="stop" /> 
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)-rsstopic([0-9]+)ft([0-9]+)(_([-a-z0-9]+))?\.xml(\?(.+))?$" to="~/$1Default.aspx?g=rsstopic&amp;pageid=$2&amp;mid=$3&amp;pg=$4&amp;ft=$5&amp;$7" processing="stop" />
  <rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)_([-0-9a-z_]+?)\.aspx\?(.+)?$" to="~/$1Default.aspx?pageid=$2&amp;mid=$3&amp;g=$4&amp;$5" processing="stop" />
	<rewrite url="^~/(.+)?yaf-pageid([0-9]+)-mid([0-9]+)_([-0-9a-z_]+?)\.aspx$" to="~/$1Default.aspx?pageid=$2&amp;mid=$3&amp;g=$4" processing="stop" />   
</rewriter>