/* install script */
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[mp_ModulePagePath_SelectByGuid]
@FeatureGuid uniqueidentifier, @SettingName nvarchar(255)
AS
SELECT
pm.[PageID],
pm.[ModuleID],
mdls.[ModuleTitle],
[SettingValue] = (SELECT mset.[SettingValue] FROM [dbo].[mp_ModuleSettings] mset WHERE mset.[ModuleID] = mdls.[ModuleID] AND mset.[SettingName] = @SettingName),
pg.[SiteID]
FROM [dbo].[mp_ModuleDefinitions] md
JOIN [dbo].[mp_Modules] mdls ON mdls.[ModuleDefID] = md.[ModuleDefID]
JOIN [dbo].[mp_PageModules] pm ON mdls.[ModuleID] = pm.[ModuleID]
JOIN [dbo].[mp_Pages] pg ON pg.[PageID] = pm.[PageID]
WHERE md.[Guid] = @FeatureGuid
ORDER BY pg.[SiteID], mdls.[CreatedDate]
GO