<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition 
		featureGuid="b2314bb4-c51a-2b8d-81b7-037177d561df"
    supportedDatabases="MSSQL,pgsql"
		resourceFile="YAFActiveDiscussions"
		featureNameReasourceKey="FeatureName"
    defaultValue="YAF Active Discussions"
		controlSource="Modules/YAFModule/ActiveDiscussion.ascx" 
		sortOrder="10002"
    isCacheable="true"
		defaultCacheTime="60"
		excludeFromFeatureList="false"
    isSearchable="true"
    searchListNameResourceKey=""
    deleteProvider=""
		icon="blank.gif"
		>
    <featureSetting
      resourceFile="YAFActiveDiscussions"
 resourceKey="YafForumModuleInstanceId"
 grouNameKey="DisplaySettings"
 defaultValue="0"
 controlType="ISettingControl"
 controlSrc="~/Modules/YAFModule/Controls/ActiveDiscussionsSettings.ascx"
 helpKey=""
 sortOrder="101"
 regexValidationExpression=""
			/>   
    <featureSetting
resourceFile="YAFActiveDiscussions"
resourceKey="YafModuleDefinitionGuid"
     grouNameKey="DisplaySettings"
     defaultValue="c5584bb4-e42f-4c7d-81b7-037176d562df"
     controlType="Label"
     controlSrc=""
     helpKey=""
     sortOrder="1200"
     regexValidationExpression=""
			/>
    <featureSetting
  resourceFile="YAFActiveDiscussions"
  resourceKey="NumberToShow"
       grouNameKey="DisplaySettings"
       defaultValue="5"
       controlType="TextBox"
       controlSrc=""
       helpKey=""
       sortOrder="1200"
       regexValidationExpression=""
			/>   
	</featureDefinition>
</featureDefinitions>


