<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
  <featureDefinition
    featureGuid="c5584bb4-e42f-4c7d-81b7-037176d562df"
    supportedDatabases="MSSQL,pgsql"
		resourceFile="YetAnotherForum"
		featureNameReasourceKey="FeatureName"
    defaultValue="YAF"
		controlSource="Modules/YAFModule/Forum.ascx" 
		sortOrder="100"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
    isSearchable="false"
    searchListNameResourceKey=""
    deleteProvider=""
		icon="blank.gif"
    supportsPageReuse="false"
    >
    <featureSetting
      grouNameKey="YafGeneralSettings"
      resourceFile="YetAnotherForum"
      resourceKey="BoardID"
      defaultValue="1"
      controlType="ISettingControl"
      controlSrc="~/Modules/YAFModule/Controls/YAFBoardSettings.ascx"
      helpKey=""
      sortOrder="100"
      regexValidationExpression=""
      />    
  </featureDefinition>
</featureDefinitions>
	

